

@keyframes slideUpFadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Mine */
.heroImg img {
  width: 100%;
  border-radius: 10px;
  max-width: 100%;
}

@media screen and (max-width: 1024px) {
     .heroImg img {
    width: 100%;
    margin: 2rem auto;
  }
}

@media screen and (max-width: 768px) {
    .heroImg img {
    width: 100%;
    max-width: auto;
    margin: 0rem auto;
  }
}

@media (max-width: 430px) {
  .heroImg img {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0rem auto;
  }
}
@media (max-width: 320px) {
 .heroImg img {
    width: auto;
    margin: 0 auto;
  }

}

.cardImage {
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}


.serviceListItem {
    /* width: 100%;
    height: auto;  */
    display: flex;
    align-items: center; 
    gap: 12px;
}
.cardTitle{
    color: #0D519A;
}

.cardDescription{
    margin: 5px 0;
}

.cardLinkText {
   color: #FF6B35;
   display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.arrowIcon {
    width: 24px;
    height: 24px;
}




