 .hero {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem 7rem;
    background: linear-gradient(to bottom right, #0d519a 10%, #0d519a 55%, #ffffff 150%);
    color: white;
    gap: 50px;
  }

  .heroText {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 50%;
}

.heroImg img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.heroBtns {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-self: start;
  
}



@media (max-width: 1024px) {


  .hero {
    margin-top: 30px;
    padding: 3rem 3rem;
    text-align: center;
  }

  .heroText {
    max-width: 50%;
    margin-top: 2rem;
    text-align: left;
  }


  .heroImg img {
    margin:2rem 0rem auto;
  }

  .heroBtns {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-self: start;
  
}
}
/* ====== ANIMATIONS ====== */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}
