.container {
  text-align: center;
}

.cardsWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Always 3 columns for >=768px */
  gap: 24px;
  justify-content: center;
  align-items: stretch;
  margin-top: 2rem;
}



.icon {

  width: 60px !important;
  height: 60px !important;
  margin-top: 12px; /* push icon slightly down */
  margin-bottom: 20px;
}



/* Mobile view (1 card per row, works down to 320px) */
@media (max-width: 768px) {

}
