/* Hero Section */
.hero {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 7rem;
  background: linear-gradient(to bottom right, #0d519a 10%, #0d519a 55%, #ffffff 150%);
  color: white;
  gap: 50px;
}

.heroText {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 490px;
}

.heroBtns {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-self: start;

}

.customer {
  display: flex;
  flex-direction: row;
}

.heroImg img {
  width: 100%;
  border-radius: 10px;
  max-width: 100%;
}

.missionSectionHead {
  place-self: center;

}



/* Services */
.services {
  text-align: center;
}

.servicesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background: #ffffff;
  padding: 2rem;
  width: 100%;
  border-radius: 20px;
  text-align: left;
  transition: transform 0.3s ease;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: translateY(-5px);
}

.card1head {
  color: #3D74AE;
}

.card p {
  color: #2C3E50;
}

.card li {
  list-style-position: inside;
  color: #2C3E50;

}

/* Approach */
.approach {
  /* padding: 2.5rem 7rem; */
  text-align: center;
}

/* .sectionhead {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
} */


/* .sectionHead h2  {
  font-size: 2rem;
  color: #2C3E50;
  margin-bottom: 10px;
}

.sectionHead p {
  font-size: 1.1rem;
  color: #7C8084;
  margin-bottom: 1rem;
} */

.approachStages {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  width: 100%;
  justify-content: center;
}

.approachStagesCardContainer {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.approachStagesCard {
  background-color: #ffffff;
  color: #2C3E50;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 20px;
  padding: 2rem;
  gap: 0.5rem;
  justify-content: center;
  transition: transform 0.3s ease;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}



.approachStagesCard:hover {
  transform: translateY(-5px);
}

.approachStagesCount {
  background-color: #0d519a;
  padding: 5px;
  border-radius: 13px;
  color: #FFF0EB;
  align-self: center;
  place-content: center;
  width: 50px;
  height: 50px;

}

.approachImage {
  width: 50%;

}

.step {
  background: white;
  padding: 1rem 2rem;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* Mission */


.missionSectionHead {
  font-size: 2rem;
  color: #2C3E50;
  margin-bottom: 10px;
  place-self: center;
}

.coreMission {
  display: flex;
  flex-direction: row;
  place-items: center;
}

.coreMissionContainer {
  background-color: #ffffff;
  padding: 20px 60px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 20px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  width: 40%;
  height: 30%;
  margin-left: -20px;
}

.coreMissionText {
  color: #2C3E50;
  width: 100%;
}



.coreMissionText span {
  font-size: 25px;
  color: #555555;
}


.coreMissionText p {
  color: #7F8C8D;
}


.consultMissionAbout {
  display: flex;
  flex-direction: row;
  place-items: center;
  gap: 5px;
  color: #0C4A8C;
}

.LearnMoreBtn {
  background-color: #0D519A;
  color: #ffffff;
  padding: 0.75rem;
  border-radius: 15px;
  cursor: pointer;
  font-weight: 500;
  width: 150px;
}

.stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 1rem;
  margin-top: 1rem;
}

.stats div {
  padding: 1rem;
  border-right: 1px solid #eaeaea;
}

.stats div:last-of-type {
  border-right: 0px;
}

.stats div h3 {
  color: #2C3E50;
}

.stats div h6 {
  color: #2C3E50;

}

.statp {
  color: #7F8C8D;
  font-size: 16px;
}



/* Why Us */
.whyUs {
  text-align: center;
}

.whyCard {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 0.5rem;
  background: #ECF0F5;
  padding: 2rem;
  width: 100%;
  border: 0.5px solid #A0A5AA;
  border-radius: 20px;
  text-align: center;
  transition: transform 0.3s ease;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.whyCard h3 {
  color: #2C3E50;
}

.whyCard:hover {
  transform: translateY(-5px);
}

.whyCard p {
  color: #555555;
}

.whyGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
}

/* ------------------ */
/* Responsive Queries */
/* ------------------ */

/* Tablets */

@media (max-width: 1200px) {
  .approachStages {
    flex-direction: column;
    gap: 2rem;
  }

  .approachImage {
    width: 50%;
    margin: auto;

  }

}

.approachStagesCardContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}


@media (max-width: 1024px) {
  .hero {
    margin-top: 30px;
    padding: 3rem 3rem;
    text-align: center;
  }

  .heroText {
    max-width: 58%;
    margin-top: 2rem;
    text-align: left;
  }


  .heroImg img {
    width: 100%;
    margin: 2rem auto;
  }


  .approachStages {
    flex-direction: column;
    gap: 2rem;
  }

  .approachImage {
    width: auto;
    margin: auto;

  }

  .approachStagesCardContainer {
    width: 100%;
    grid-template-columns: 1fr 1fr;
  }

  .coreMission {
    flex-direction: column;

  }

  .coreMissionContainer {
    width: 60%;
    margin: -50px 50px auto;
  }



}

/* Mobile */
@media (max-width: 768px) {
  .hero {
    margin-top: 20px;
    flex-direction: column;
    padding: 2.5rem 1.5rem;
    text-align: center;
    gap: 0px;
  }

  .heroText {
    max-width: 90%;
    margin-bottom: 1.5rem;
    margin-top: 5rem;
    text-align: center;

  }

  .heroBtns {
    justify-content: center;
    flex-direction: column;
    width: 50%;
    align-self: center;
  }

  .heroImg img {
    width: 100%;
    max-width: auto;
    margin: 0rem auto;
  }

  .servicesGrid {
    grid-template-columns: 2fr;
  }

  .card {
    padding: 1.5rem;
    text-align: left;
  }

  .approachStages {
    flex-direction: column;
    gap: 2rem;
  }

  .approachImage {
    width: auto;
    margin: auto;
    justify-content: center;

  }

  .approachStagesCardContainer {
    width: 100%;
    grid-template-columns: 1fr;
  }

  .coreMission {
    flex-direction: column;
    gap: 2rem;
  }

  .missionSectionHead {
    margin-bottom: 2rem;
    place-self: center;
  }

  .coreMissionContainer {
    width: auto;
    margin: -50px 50px auto;
    padding: 30px;
  }

  .coreMission img {
    width: 100%;

  }

  .consultMissionAbout img {
    width: 10%;

  }


  .stats {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-top: 50px;
  }


}

@media (min-width:481px) and (max-width: 590px) {
  .approachImage img {
    width: 25rem;
    height: auto;
    margin: 0 auto;

  }
}

/* Small Mobile */
@media (max-width: 480px) {
  .hero {
    margin-top: -10px;
    padding: 2rem 1rem;
    text-align: center;
  }



  .heroText {
    max-width: 100%;
    margin-bottom: 1.5rem;
    margin-top: 5rem;
  }


.missionSectionHead {
  font-size: 1.75rem;
  color: #2C3E50;
  margin-bottom: 10px;
  place-self: center;
}

  .btnPrimary,
  .btnSecondary {
    width: 100%;
    text-align: center;
    padding: 0.5rem;
  }

  .services {
    padding: 1.5rem 1rem;
  }

  .card {
    text-align: left;

  }


  .approachImage img {
    width: 100%;
    margin: auto;

  }


  /* .approachStagesCard {
    margin: 20px 4rem;
    padding: 1rem 1.5rem;
  } */


  .mission {
    margin: 2rem 1rem;
  }

  .missionSectionHead {
    margin-bottom: 6rem;
  }

  .coreMission {
    margin: -5.5rem;
  }


  .coreMission img {
    width: 100%;

  }

  .consultMissionAbout img {
    width: 10%;

  }

  .coreMissionContainer {
    width: 70%;
    margin: -60px auto;
  }

  .stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    place-self: center;
    width: auto;
    margin: 120px 0px 20px;
  }

  .stats div {
    width: 100%;
    border-right: 1px solid #eaeaea;
  }

  .whyUs {

    text-align: center;
    margin-bottom: 20px;
  }

  .stats div {
    margin-top: 50px;
    width: 100%;
    border-right: 0px solid #eaeaea;
  }

}



  @media (max-width: 430px) {
  .heroImg img {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0rem auto;
  }
}
  .coreMissionContainer {
    width: 60%;
    margin-bottom: 5px;
  }


  .coreMission img {
    width: 100%;

  }

  .consultMissionAbout img {
    width: 10%;

  }

  .approachImage img {
    width: 100%;
    margin: auto;

  }

  .stats div {
    width: 100%;
    border-right: 1px solid #eaeaea;
  }


@media (max-width: 390px) {

  

  .coreMission img {
    width: 20rem;
    height: auto;

  }

  .consultMissionAbout img {
    width: 10%;

  }

  .approachImage {
    width: auto;
    margin: auto;

  }
}

@media (max-width: 320px) {
 .heroImg img {
    width: auto;
    margin: 0 auto;
  }

}