@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --background: #FAFDFF;
  --foreground: #2C3E50;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  line-height: 1.6;
  --primary-blue: #0D519A; /* Darker blue background */
    --cta-orange: #FF6B35;
    --border-light: #919292; 
    --text-dark: #2C3E50; 
    --text-gray: #7C8084;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Heading & P TAGS Responsiveness */
h1{
  font-size: 48px;
}

h1, .typewriter{
 font-size: 48px;
}

h2{
  font-size: 40px;
}

h3{
  font-size: 32px;
}

h4{
  font-size: 28px;
}

h5{
  font-size: 24px;
}

h6{
  font-size: 20px;
}

p, span,li{
  font-size: 16px;
}

@media (max-width: 768px) {
 h1{
  font-size: 40px;
}

h1, .typewriter{
 font-size: 40px;
}
h2{
  font-size: 32px;
}

h3{
  font-size: 28px;
}

h4{
  font-size: 24px;
}

h5{
  font-size: 20px;
}

h6{
  font-size: 16px;
}

p, span, li{
  font-size: 16px;
}
}

@media (max-width: 430px) {
 h1{
  font-size: 32px;
}

h1, .typewriter{
 font-size: 32px;
}
h2{
  font-size: 28px;
}

h3{
  font-size: 24px;
}

h4{
  font-size: 20px;
}

h5{
  font-size: 18px;
}

h6{
  font-size: 16px;
}

p, span, li{
  font-size: 14px;
}
}

@media (max-width: 344px) {


h1, .typewriter{
 font-size: 32px;
}
}

@media (max-width: 320px) {
   h1{
  font-size: 32px;
}

h1, .typewriter{
 font-size: 32px;
}
h2{
  font-size: 28px;
}

h3{
  font-size: 24px;
}

h4{
  font-size: 20px;
}

h5{
  font-size: 18px;
}

h6{
  font-size: 16px;
}

p, span, li{
  font-size: 14px;
}
}

 /* SECTIONS, GRID & CARD Responsiveness  */
section {
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0rem 7rem;
}


  .sectionhead {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .sectionHead h2{
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .sectionHead h6 {
    font-size: 18px;
    color: #7C8084;
    font-weight: medium;
    margin-bottom: 1.5rem;
    text-align: center;
    align-items: center;
    justify-content: center;
  }


  .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
}


  .card1 {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background: #ffffff;
    padding: 2rem;
    width: 100%;
    border-radius: 20px;
    text-align: left;
    transition: transform 0.3s ease;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  }

  .card1 li{
    list-style-position: inside;
  }

  .card1:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
  }

   .card2 {
     background-color: #ffffff;
  color: #2C3E50;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 20px;
  padding: 2rem;
  gap: 0.5rem;
 text-align: center;
  justify-content: center;
  transition: transform 0.3s ease;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  }

  .card2:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
  } 

  

.card3 {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 0.5rem;
  background: #ECF0F5;
  padding: 2rem;
  width: 100%;
  border: 0.5px solid #A0A5AA;
  border-radius: 20px;
  text-align: center;
  transition: transform 0.3s ease;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}


.card3:hover {
  transform: translateY(-5px);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.card3 p {
  color: #555555;
}

@media (max-width: 1024px) {
  section {
    margin: 0rem 6rem;
  }
}
@media (max-width: 768px) {
  section {
    margin: 0rem 3rem;
  }

  .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
}
.card1, .card2, .card3 {
    padding: 2rem;
  }

}
@media (max-width: 430px) {
  section {
    margin: 0rem 1rem;
  }

  .card1, .card2, .card3 {
    padding: 1.5rem;
  }

    .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
}
}
@media (max-width: 320px) {
  section {
    margin: 0rem 0.8rem;
  }

  .card1, .card2, .card3 {
    padding: 1rem;
  }

    .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
}
}



/* HERO SECTIONS */
 .hero {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem 7rem;
    background: linear-gradient(to bottom right, #0d519a 10%, #0d519a 55%, #ffffff 150%);
    color: white;
    gap: 50px;
  }

  .heroText {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 490px;
}

.heroImg img {
  width: 100%;
  border-radius: 10px;
  max-width: 100%;
}

@media (max-width: 1024px) {


  .hero {
    margin-top: 30px;
    padding: 3rem 3rem;
    text-align: center;
  }

  .heroText {
    max-width: 58%;
    margin-top: 2rem;
    text-align: left;
  }


  .heroImg img {
    width: 100%;
    margin:2rem auto;
  }


  .sectionhead {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    place-items: center;
  }

  .sectionHead h6 {
    font-size: 1.1rem;
    color: #7C8084;
    margin-bottom: 1.5rem;
  }

}

@media (max-width: 768px) {
  .hero {
    margin-top: 20px;
    flex-direction: column;
    padding: 2.5rem 1.5rem;
    text-align: center;
    gap: 0px;
  }

    .heroText {
    max-width: 90%;
    margin-bottom: 1.5rem;
    margin-top: 5rem;
    text-align: center;
    
  }

    .heroBtns {
    justify-content: center;
    flex-direction: column;
    width: 50%;
    align-self: center;
  }

    .heroImg img {
    width: 100%;
    max-width: auto;
    min-width: 450px;
    margin: 2rem auto;
  }

}

@media (max-width: 430px) {
  .hero {
    margin-top: -10px;
    padding: 2rem 1rem;
    text-align: center;
  }

.heroImg img {
    width: auto;
    max-width: 300px;
    margin: 0 1rem;
    height: auto ;
  }

  .heroText {
    max-width: 100%;
    margin-bottom: 1.5rem;
    margin-top: 5rem;
  }
  
.heroBtns{
 width: 70%;
}
}

@media (max-width: 320px) {
    .hero {
    margin-top: -10px;
    padding: 2rem 1rem;
    text-align: center;
  }

.heroImg img {
    width: auto;
    max-width: 300px;
    margin: 0 1rem;
    height: auto ;
  }

  .heroText {
    max-width: 100%;
    margin-bottom: 1.5rem;
    margin-top: 5rem;
  }
  
.heroBtns{
 width: 70%;
}
}


.button2{
 padding: 0.75rem 1.5rem;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
  display: inline-block;
  color: white;
  background-color: var(--primary-blue);
}

.button2:hover {
  background-color: #3D74AE;
}



/* 
// Scroll to Brand section Example Usage

  const scrollToEventsFamily = (e) => {
    e.preventDefault();
    const section = document.getElementById('brand-family');
    if (section) {
      section.scrollIntoView({ behavior: 'smooth' });
    }
  };


  // Scroll to Contact section

  const scrollToContact = (e) => {
    e.preventDefault();
    const section = document.getElementById('contact');
    if (section) {
      section.scrollIntoView({ behavior: 'smooth' });
    }
  };



FSX Branch Pages buttons EXAMPLE USAGE

  <ButtonGroup
              filterKeys={['Get Started', 'Explore Tech']}
              onClickHandlers={{
            fsx-tech1: scrollToTechFamily,
               ExploreTech: scrollToContact,
              }}
            />

              <ButtonGroup
              filterKeys={['Join Us', 'Explore More']}
              onClickHandlers={{
                fsx-academy1: scrollToBrandFamily,
               ExploreAcademy: scrollToContact,
              }}
            />

             <ButtonGroup
              filterKeys={['Join Community', 'Explore More']}
              onClickHandlers={{
               fsx-connect1: scrollToBrandFamily,
               ExploreConnect: scrollToContact,
              }}
            />

             <ButtonGroup
              filterKeys={['Book Events', 'Explore More']}
              onClickHandlers={{
             fsx-events: scrollToBrandFamily,
                ExploreEvents': scrollToContact,
              }}
            />

             <ButtonGroup
              filterKeys={['Book Consultation', 'Explore More']}
              onClickHandlers={{
               fsx-consulting1: scrollToBrandFamily,
               ExploreConsulting: scrollToContact,
              }}
            />

             <ButtonGroup
              filterKeys={['Tell us your idea', 'Explore More']}
              onClickHandlers={{
                fsx-labs1: scrollToBrandFamily,
                ExploreLabs: scrollToContact,
              }}
            />

*/

