:root {
  --font-bahns: "Bahnschrift", sans-serif;

}
/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */
/* html {
  font-size: 18px;
  background-color: white;
} */
.fsxSection {
  /* margin-top: 80px; */
  display: flex !important;
  justify-content: center !important;
  flex-direction: column !important;
  flex-wrap: wrap  !important;
  min-height: 100vh !important;
  font-family: var(--font-roboto) !important;
  color: #2c3e50;

}

/* .heroSection {
   background: linear-gradient(to bottom right, #0d519a 10%, #0d519a 55%, #ffffff 150%);
  color: #ffffff;
  padding: 2.5rem 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
} */
/* .heroTitle {
  font-family: var(--font-bahns);
font-size: 2.5rem;
    font-weight: 700;
} */
/* .heroDescription {
 font-size: 0.88rem;
    font-weight: 500;
  margin: 1rem 0;
  width: 100%;
  max-width: 450px;
} */
 /* Hero Section */
.hero {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 7rem;
  background: linear-gradient(to bottom right, #0d519a 10%, #0d519a 55%, #ffffff 150%);
  color: white;
  gap: 50px;
}

.heroText {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 490px;
}
.heroBtns {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-self: start;
  
}
/* .heroBtnContainer {
  display: flex;
  gap: 1rem;
} */
/* 
.exploreBtn, .joinBtn{
  color: white;
  padding: 0.75rem 0rem;
  border: none;
  font-weight: bold;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 100%;
  max-width: 11rem;
  font-family: var(--font-roboto);
  font-weight: 500;
}
.exploreBtn {
  background-color: #ff6b35;
}
.exploreBtn:hover {
  background-color:  #B54C26;
}
.joinBtn {
  background-color: transparent;
  border: 1px solid #ffffff;
}
.joinBtn:hover {
  background-color: #3D74AE;
} */

.cardParticipation {
  /* font-family: var(--font-bahns); */
  margin: 2.5rem 7rem;
  margin-bottom: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem;
  box-shadow: 0 1px 7px #00000026;
  border-radius: 0.5rem;
}

.communityMem {
  text-align: center;
}
.communityMem h3 {
  font-size: 2.2rem;
  color: #0d519a;
  line-height: 48px;
}

.communityMem p {
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 0.5rem;
}

.connectionSection {
  margin: 0 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  font-family: var(--font-bahns);
}

.connectionTitle {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 0.6rem;
  line-height: 48px;
}
.connectionDescription {
  font-size: 1.1rem;
  font-weight: 400;
  width: 100%;
  /* max-width: 33.3rem; */
  margin: 0 auto;
  color: #7c8084;
}
.connectionCardsContainer {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  font-family: var(--font-bahns);
}
.connectionCard {
  box-shadow: 0 4px 8px #0000000a;
  border-radius: 0.5rem;
}
.cardTitle {
  color: #0d519a;
  font-size: 1.55rem;
  font-weight: 600;
  line-height: 33.6px;
}
.cardDescription {
  color: #2c3e50;
  font-size: 0.88rem;
  width: 100%;
  padding: 0.5rem;
  /* max-width: 13.11rem; */
  margin: 1rem auto;
}

.joinCommunitySection {
  margin: 2.5rem 7rem;
  font-family: var(--font-bahns);
  text-align: center;
}
.joinCommunityTitle {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 0.6rem;
  line-height: 48px;
}
.joinCommunityDescription {
  font-size: 0.88rem;
  font-weight: 400;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  color: #7c8084;
}
.communityCard{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
 
}
/* .communityCardEntrepreneur{
  display: flex;
  align-items: center;
  gap: 1rem;
} */

.communityCardContent{
  text-align: start;
  width: 100%;
  max-width: 22.22rem;
}
.communityCardImage{
  width: 100%;
  max-width: 22.2rem;
}
.communityCardTitle{
  font-size: 1.777rem;
  font-family: var(--font-bahns);
  font-weight: 600;
  color: #0D519A;
}
.communityCardDescription{
  color: #2C3E50;
  font-size: 0.88rem;
  width: 100%;
  max-width: 16.66rem;
  margin-top: 0.5rem;
}

.communityCardsContainer{
  margin: 1.2rem 0;
}
.joinCommunityButton{
  /* margin-top: 1rem; */
  padding: 0.45rem 0.7rem;
  font-family: var(--font-bahns);
  font-weight: 600;
  font-size: 1.1rem;
  border-radius: 0.6rem;
  outline: none;
  border: none;
  cursor: pointer;
  color: #ffffff;
  background-color: #0C4A8C;
  width: 100%;
  max-width: 23rem;
}
.joinCommunityButton:hover{
 background-color: #3D74AE;
}

.whyJoinSection{
  /* padding: 2.5rem 7rem; */
  margin: 2.5rem 7rem;
  font-family: var(--font-bahns);
  text-align: center;
}

.whyJoinTitle {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 0.6rem;
  line-height: 48px;
}
.whyJoinDescription {
  font-size: 1.111rem;
  font-weight: 400;
  width: 100%;
  max-width: 33.33rem;
  margin: 0 auto;
  color: #7c8084;
  margin: 1rem auto;
  margin-bottom: 2rem;
}
.whyJoinCardsContainer {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  font-family: var(--font-bahns);
}
.whyJoinCard {
  box-shadow: 0 4px 8px #0000000a;
  border-radius: 0.5rem;
}
.whyJoinCardTitle {
  color: #0d519a;
  font-size: 1.333rem;
  font-weight: 600;
}
.whyJoinCardDescription {
  color: #2c3e50;
  font-size: 0.88rem;
  width: 100%;
  /* max-width: 11.11rem; */
  margin: 0.5rem auto;
  margin-bottom: 2rem;
  padding: 0.8rem;
}

.joinLink{
  text-decoration: none;
  width: 100%;
}

.ctaSection{
  margin: 2.5rem 7rem;
  background-color: #0C4A8C;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  justify-content: space-between;
  border-radius: 1.1rem;
}
.ctaContainer{
  padding: 1rem 1rem 1rem 1rem;
}
.ctaDescription{
  font-family: var(--font-bahns);
  font-weight: 700;
  font-size: 1.5rem;
}
.ctaButton{
  margin-top: 2rem;
  padding: 0.8rem 2rem;
  font-family: var(--font-bahns);
  background-color: #FF6B35;
  color: white;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}
.ctaButton:hover{
   background-color:  #B54C26;
}


@media screen and (max-width: 1053px) {
  .ctaSection .ctaImage{
    width: 500px;
    height: 400px;
  }
  .heroImage{
    width: 420px;
    height: 420px;
  }
  .heroTextContainer{
    margin-right: 1rem;
  }
}
@media screen and (max-width: 1030px) {
  .communityCardContent{
    margin-left: 2rem;
  }
  .communityCardEntrepreneur .communityCardContent{
    margin-left: 0rem;
  }
}

@media screen and (max-width: 1020px) {
  .fsxSection{
    margin-top: 30px;
  }
  .cardParticipation,  .connectionSection, .joinCommunitySection, .whyJoinSection{
    margin-left: 1.5rem ;
    margin-right: 1.5rem ;
  }
  .heroSection, .ctaSection{
       padding-left: 1.5rem ;
    padding-right: 1.5rem ;
  }

}
@media screen and (max-width: 982px) {
 .fsxSection{
  margin-top: 30px;
 }

.communityCardImage{
  height: 260px;
}

.communityImg{
  width: 350px;
  height: 290px;
  object-fit: contain;
}
.ctaSection .ctaImage{
    width: 400px;
    height: 330px;
  }
}

@media screen and (max-width: 982px) {
 
.ctaSection .ctaImage{
    width: 400px;
    height: 330px;
  }
  .ctaDescription{
  font-family: var(--font-bahns);
  font-weight: 700;
  font-size: 1.3rem;
}
}

@media screen and (max-width: 900px) {
 .connectionCardsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-family: var(--font-bahns);
}
}

@media screen and (max-width: 870px) {
   .heroImage{
    width: 300px;
    height: 300px;
  }
 .connectionCardsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-family: var(--font-bahns);
}
.whyJoinCardsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: evenly;
  align-items: center;
}
.ctaSection .ctaImage{
    width: 400px;
    height: 350px;
  }
  .ctaSection{
      grid-template-columns: repeat(2, 1fr);
  }

}

@media screen and (max-width: 860px) {
  .communityCardsContainer .communityCard{
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  /* .communityCardEntrepreneur{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  } */
  .communityCard .communityCardContent{
    /* order: 1; */
    margin-left: 1.7rem;
  }
  .communityCard .communityCardImage{
    /* order: 2; */
  }
  .ctaSection{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .communityImg{
    object-fit: contain;
    margin: 0 auto;
  }
  
  @media screen and (max-width: 768px) {
   .fsxSection {
    margin-top: 20px;
   }}
@media screen and (max-width: 760px) {
 
  
.ctaSection{
    margin-left: 0rem;
    margin-right: 0rem;
  }
}

@media screen and (max-width: 752px) {
    .heroSection{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      padding-top: 1rem;
      text-align: center;
    }
    .heroBtnContainer{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 1rem;
      
    }
    .heroBtnContainer button{
      width: 100%;
      max-width: 150px;
    }
    .heroImage{
      width: 400px;
      height: 400px;
      margin: 0 auto;
      margin-top: 1rem;
      object-fit: contain;
    }
      .communityCard{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  .communityCardImage{
    order: 1;
  }
  .communityCardContent{
    order: 2;
  }
}

@media screen and (max-width: 734px) {
  .fsxSection{
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }
  .cardParticipation{
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }
  .connectionCardsContainer {
  display: flex;
  flex-direction: column;
  font-family: var(--font-bahns);
}
.whyJoinCardsContainer{
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}
}

@media screen and (max-width: 728px) {
  .heroSection, .cardParticipation, .connectionSection, .joinCommunitySection, .whyJoinSection, .ctaSection{
    margin-left: 0rem;
    margin-right: 0rem;
  }

  .communityCardsContainer{
    padding: 1rem;
  }
    /* .joinCommunityDescription, .cardDescription, .connectionDescription, .whyJoinDescription,.whyJoinCardDescription{
    width: 100%;
    max-width: 25rem;
    font-size: 1rem;
  } */
  /* .communityCardDescription,.whyJoinCardDescription{
    font-size: 1rem;
  } */
  /* .whyJoinTitle, .joinCommunityTitle, .connectionTitle{
    font-size: 1.4rem;
    width: 100%;
    margin: 0 auto;
  } */

}

@media screen and (max-width: 640px) {
  /* .joinCommunityDescription, .cardDescription, .connectionDescription, .whyJoinDescription,.whyJoinCardDescription{
    width: 100%;
    max-width: 25rem;
    font-size: 1rem;
  
  } */
}
@media screen and (max-width: 597px) {
   .heroImage{
    width: 100%;
    max-width: 400px;
    height: 300px;
    margin: 0 auto;
    margin-top: 1rem;
    object-fit: contain;
  }
}

@media screen and (max-width: 572px) {
   .heroImage{
    width: 100%;
    max-width: 500px;
    height: 300px;
    margin: 0 auto;
    margin-top: 1rem;
    object-fit: contain;
  }
  .joinCommunityButton{
    width: 100%;
    max-width: 15rem;
  }
  .ctaSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}

.ctaImage {
  order: 0; /* sits in the middle */
}

.ctaDescription {
  order: -1;
}

.ctaButton {
  order: 1; 
}
}
@media screen and (max-width: 455px){
  .fsxSection{
    margin-top: 0px;
  }
}
@media screen and (max-width: 455px){
    .heroImage{
      width: 100%;
      max-width: 550px;
      height: 250px;
      margin: 0 auto;
      margin-top: 1rem;
      object-fit: contain;
    }
    .ctaImage{
      width: 250px !important;
      height: 250px !important;
      object-fit: contain;
    }
}
@media screen and (max-width: 430px) {
   .heroImage{
    width: 100%;
    max-width: 600px;
    height: 200px;
    margin: 0 auto;
    margin-top: 1rem;
    object-fit: contain;
  }
  .joinCommunityDescription, .cardDescription, .connectionDescription, .whyJoinDescription {
    width: 100%;
    font-size: 1rem;
    padding: 1rem;
  }
  .communityCardDescription,.whyJoinCardDescription{
    font-size: 1rem;
  }
  /* .whyJoinTitle, .joinCommunityTitle, .connectionTitle{
    font-size: 1.4rem;
    width: 100%;
    margin: 0 auto;
  } */

  .ctaImage{
    width: 200px;
    height: auto;
    object-fit: contain;
  }
}
@media screen and (max-width: 415px) {
  .heroSection{
    width: 100%;
    max-width: 100%;
    padding: 1rem 2rem;
  }
  .heroTextContainer{
    width: 100%;
  }
 
}
@media screen and (max-width: 400px) {
  .joinCommunityDescription, .cardDescription, .connectionDescription, .whyJoinDescription{
    width: 100%;
    /* max-width: 19rem; */
    font-size: 1rem;
    padding: 0rem;
  }
}
@media screen and (max-width: 387px) {
  .communityCardImage{
    width: 100%;

  }
  .communityImg{
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 376px) {
   .joinCommunityDescription, .cardDescription, .connectionDescription, .whyJoinDescription{
    width: 100%;
    font-size: 1rem;
    padding: 0rem;
  }
  /* .joinCommunityTitle, .whyJoinTitle, .connectionTitle{
    font-size: 1.4rem;
    width: 100%;
    margin: 0 auto;
  } */
  .ctaSection .ctaImage{
    width: 200px;
    height: 200px;
  }
}
@media screen and (max-width: 345px) {
    .joinCommunityDescription, .cardDescription, .connectionDescription, .whyJoinDescription{
    width: 100%;
    font-size: 1rem;
    padding: 0rem;
  }
}
}