.aboutSection {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 4rem 1.5rem;
  background: #fff;
}

.aboutContent {
  display: flex;
  justify-content: space-between;
  align-items: left;
  max-width: 1220px;
  width: 100%;
  gap: 8rem;
  flex-wrap: wrap; /* ensures responsiveness */
}

/* === Text Column === */
.aboutText {
  font-size: 16px;
  flex: 1;
  width: 100%;
}


.aboutText h3 {
  margin-bottom: 1rem;
  color: #0D519A;
}

.aboutText h5 {
  text-align: left;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #0D519A;
}

.aboutText p {
  color: #2C3E50;
}

/* === Image Column === */
.aboutImage {
  flex: 1;
  min-width: 300px;
}


.image {
  width: 100%;
  border-radius: 12px;
}

/* === Mobile Styles === */
@media (max-width: 768px) {
  .aboutContent {
    flex-direction: column;
    text-align: left;
    max-width: 1220px;
  width: 100%;
  gap: 4rem;
  flex-wrap: wrap; /* ensures responsiveness */
  }

  .aboutImage {
  flex: 1;
  min-width: 300px;
}


.image {
  width: 100%;
  height: auto;
  border-radius: 12px;
  margin-bottom: 150px;
}
}
@media (max-width: 480px) {
  .aboutContent {
    flex-direction: column;
    text-align: left;
    max-width: 1220px;
  width: 100%;
  gap: 4rem;
  flex-wrap: wrap; /* ensures responsiveness */
  }

  .aboutImage {
  flex: 1;
  min-width: 300px;
}


.image {
  width: 100%;
  height: auto;
  border-radius: 12px;
  margin-bottom: 0px;
}
}
